/node_modules
/public/hot
/public/storage
/public/client
/storage/*.key
/vendor
.env
!/resources/client/.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


# generated views
/resources/views/main.blade.php
